---
import Layout from '@layouts/Layout.astro'

import theme from '../../../src/theme.js'

import CopyIcon from '@components/icons/copy.astro'

const { animation } = theme
---

<Layout
  title='midudev Tailwind CSS Animations Plugin: Community-Powered Animation Magic'
>
  <wc-toast></wc-toast>
  <main class='pb-20'>
    <header
      class='mx-auto flex max-w-4xl flex-col items-center justify-center py-10'
    >
      <h1 class='pt-10 text-4xl font-semibold'>tailwind css animations</h1>
      <h2 class='font-medium opacity-70'>the plugin that you need! =)</h2>
      <div class='mt-10'>
        <div
          class='flex w-full max-w-md flex-col items-center rounded-md bg-gray-300 p-4 text-center shadow-md'
        >
          <pre
            class='flex text-sm text-gray-800'>
            <code>npm install @midudev/tailwind-animations</code>
          </pre>
          <button
            class='ring-offset-background focus-visible:ring-ring hover:bg-primary/90 mt-4 inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none'
            onclick="navigator.clipboard.writeText('npm install @midudev/tailwind-animations'); alert('Shipped into the clipboard :D ⛵');"
          >
            Copy to Clipboard
          </button>
        </div>
      </div>
    </header>

    <section class='m-auto grid max-w-4xl grid-cols-3 gap-4'>
      {
        Object.keys(animation).map((animationKey) => {
          return (
            <article
              class='relative col-span-1 cursor-crosshair rounded border border-[#092635] transition animate-duration-1000 hover:border-gray-600 hover:shadow'
              data-class={animationKey}
            >
              <div class='flex h-full w-full flex-col items-center justify-center gap-4 p-4'>
                <span class='flex h-16 w-16 items-center justify-center rounded-md bg-[#092635]' />
                <h3 class='text-xs font-semibold opacity-80'>{animationKey}</h3>
              </div>
              <button
                class='absolute right-2 top-1'
                onclick={`navigator.clipboard.writeText('animate-${animationKey}'); alert('Class animate-${animationKey} shipped into the clipboard :D ⛵');`}
              >
                <CopyIcon />
              </button>
            </article>
          )
        })
      }
    </section>
  </main>
</Layout>

<script>
  import { toast } from 'wc-toast'

  const $articles = document.querySelectorAll('article')

  $articles.forEach(($article) => {
    const animationKey = $article.getAttribute('data-class')
    const animationClass = `animate-${animationKey}`
    const $box = $article.querySelector('span')

    if ($box == null) return

    $article.addEventListener('mouseenter', () => {
      $box.classList.add(animationClass)
    })

    $article.addEventListener('mouseleave', () => {
      $box.classList.remove(animationClass)
    })

    $article.addEventListener('click', () => {
      const animationKey = $article.getAttribute('data-class')
      const CLASS_PREFIX = 'animate-'
      const ANIMATION_TO_COPY = CLASS_PREFIX + animationKey

      navigator.clipboard.writeText(ANIMATION_TO_COPY)

      toast('Copied to clipboard!', {
        theme: {
          type: 'light'
        }
      })
    })
  })
</script>
